@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 48px;
    --hue-color: 233;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 32px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --normal-font-size: 15px;
    --small-font-size: 13px;
    --smaller-font-size: 12px;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-25: 4px;
    --mb-0-5: 8px;
    --mb-0-75: 12px;
    --mb-1: 16px;
    --mb-1-25: 20px;
    --mb-1-5: 24px;
    --mb-1-75: 28px;
    --mb-2: 32px;
    --mb-2-25: 36px;
    --mb-2-5: 40px;
    --mb-2-75: 44px;
    --mb-3: 48px;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 48px;
        --h1-font-size: 36px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --normal-font-size: 16px;
        --smalll-font-size: 14px;
        --smaller-font-size: 13px;
    }
} 

/* DARK/LIGHT */

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* REUSABLE */
.section {
    padding: 32px 0 64px;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

/* LAYOUT */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 24px;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-origin: var(--body-color);
}

/* NAV */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 17.6px;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);

}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 32px 24px 64px;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 24px 24px 0 0;
        transition: 0.3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 19.2px;
}

.nav__close {
    position: absolute;
    right: 20.8px;
    bottom: 8px;
    font-size: 24px;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}

/* HOME */
.home__container {
    gap: 16px;
}

.home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 56px;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 16px;
}

.home__social-icon {
    font-size: 20px;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img {
    width: 210px;

}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--first-color);
    transition: 0.3s;
}

.home__scroll-button:hover {
    transform: translateY(4px);
}

.home__scroll-mouse {
    font-size: 32px;
}

.home__Scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 20px;
}

/* BUTTONS */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    font-weight: var(--font-medium);   
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 20px;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: 12px 16px;
    align-items: center;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

/* ABOUT */
.about__img {
    width: 200px;
    border-radius: 8px;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

/* SKILLS */
.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 32px;
    color: var(--first-color);
} 

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow {
    margin-left: auto;
    transition: 0.4s;
}

.skills__list {
    row-gap: 24px;
    padding-left: 43.2px;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 4px;
}

.skills__bar {
    background-color: var(--first-color-lighter);
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skills__html {
    width: 70%;
}

.skills__css {
    width: 30%;
}

.skills__js {
    width: 20%;
}

.skills__react {
    width: 10%;
}

.skills__php {
    width: 80%;
}

.skills__node {
    width: 10%;
}

.skills__sql {
    width: 60%;
}

.skills__python {
    width: 50%;
}

.skills__figma {
    width: 15%;
}

.skills__sketch {
    width: 10%;
}

.skills__photoshop {
    width: 30%;
}

.skills__canva {
    width: 85%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

/* QUALIFICATION */

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 28.8px;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 24px;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}

/* SERVICES */
.services__container {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.services__content {
    position: relative;
    background-color: var(--container-color);
    padding: 56px 8px 20px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.services__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
    display: block;
    font-size: 24px;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button {
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
    transform: translateX(4px);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.services__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 24px;
    border-radius: 8px;
}

.services__modal-services {
    row-gap: 16px;
}

.services__modal-service {
    display: flex;
}

.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: var(--first-color);
    cursor: pointer;
}

.services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);

}

.active-modal {
    opacity: 1;
    visibility: visible;
}

/* PORTFOLIO */
.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 24px;
}

.portfolio__img {
    width: 265px;
    border-radius: 8px;
    justify-self: center;
    /* height: 139px; */
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
    transform: translateX(4px);
}